<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a routerLink="/lugares">Lugares</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{lugar.nombre}}</li>
    </ol>
</nav>
<div class="container">
  <h1>{{lugar.nombre}}</h1>
  <hr />
  Distancia: <small>{{lugar.distancia}}</small>
  <div class="card">
      <div class="card-body">    
        <p>
          {{lugar.description}}
        </p>
        <strong>{{lugar.plan}}</strong>
      </div>
  </div>
</div>